@import "../../global.scss";

.projects-container {
  display: flex;
  flex-direction: column;
  padding: 4% 7%; // Top/bottom right/left

  .other-projects {
    padding: 0 1.1rem; // 1.1. because that's what card scales to on hover
  }
}
