@import "../../global.scss";

.menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: fixed;
  right: -100vw;
  transition: all 0.35s ease;
  width: 99vw;
  z-index: 9; // Menu should appear above site content, but below navbar

  &.active {
    background-color: $primaryColor;
    right: 0;
  }

  ul {
    color: $greyFontColor;
    font-size: 3rem;
    list-style: none; // No dots
    margin: 0;
    padding: 0;

    li {
      cursor: pointer;
      margin-bottom: 1rem;
      transition: all 0.2s ease;

      &:hover {
        color: white;
        font-weight: 500;
      }

      a {
        color: inherit;
        font-size: inherit;
        text-decoration: none;
      }
    }
  }
}
