@import "../../global.scss";

.menu {
  position: fixed;
  height: 100vh;
  width: 100vw;
  right: -100vw;
  transition: all 0.35s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9; // Menu should appear above site content, but below navbar
  transition: all 0.3s ease;

  &.active {
    background-color: $primaryColor;
    right: 0;
  }

  ul {
    color: $greyFontColor;
    font-size: 2.5rem;
    list-style: none; // No dots
    margin: 0;
    padding: 0;

    li {
      transition: all 0.2s ease;
      cursor: pointer;
      margin-bottom: 1rem;

      &:hover {
        color: white;
        font-weight: 500;
      }

      a {
        color: inherit;
        font-size: inherit;
        text-decoration: none;
      }
    }
  }
}
