@import "../../global.scss";

.about-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 4% 7%; // Top/bottom right/left

  .about-me-intro-container {
    display: flex;
    flex-direction: column;
    width: 70%;

    .about-me-intro {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 1rem;

      .about-me-paragraph-container {
        color: $greyFontColor;
        width: 100%;
        margin-bottom: 1rem; // Margins for spacing when headshot is to the right or flexed to below
        margin-right: 2rem;

        @media screen and (min-width: 720px) {
          width: 60%;
        }

        .highlight {
          color: $primaryColor;
          cursor: pointer;
          text-decoration: none;
        }
      }

      .headshot-container {
        .headshot {
          transition: all 0.4s ease;

          // Height/Width for responsive image sizing
          height: auto;
          width: 100%;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }

    .skills {
      .skills-paragraph-container {
        color: $greyFontColor;
        width: 100%;
        margin-bottom: 1rem;
      }

      @media screen and (min-width: 720px) {
        width: 90%;
      }

      .skills-display {
        justify-content: center;
        align-content: center;
        width: 90%;

        // A row of skils
        .skill-row {
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-bottom: 1rem;

          .skill-container {
            width: 25vw;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;

            .skill-logo-container {
              // Want this to be a circle
              height: 7vw;
              width: 7vw;
              border-radius: 50%;
              background-color: #212121;
              display: flex;
              align-items: center;
              justify-content: center;

              .skill-logo {
                height: 3.5vw;
              }
            }

            h4 {
              margin-top: 0.25rem;
              font-size: 1rem;
              color: white;
            }
          }
        }
      }
    }
  }
}
