@import "../../global.scss";

.contact-container {
  // background-color: $backgroundColor;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("hello.jpg"); // Background image with dark tint
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  height: 55vh;
  padding: 4% 7%; // Top/bottom right/left

  .contact-me {
    display: flex;
    flex-direction: column;

    a {
      color: $primaryColor;
      cursor: pointer;
      text-decoration: none;
    }
  }
}
