@import "../../global.scss";

.experiences-container {
  display: flex;
  //   height: calc(100vh * 1.4); // Want a variable height so design is responsive, so omitting fixed height
  flex-direction: column;
  padding: 4% 7%; // Top/bottom right/left

  .my-experiences {
    display: flex;
    flex-wrap: wrap; // To make responsive
    justify-content: center;
  }
}
